body {
    background-color: antiquewhite;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
    padding: 1rem;
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-self: center;
    border: 2px solid black;
    padding: 1rem;
}

.box {
    height: 30px;
    border: 2px solid red;
}

#playerOneBoardDiv > .occupied {
    background-color: green;
}

.hit {
    background-color: red;
}

.missed {
    background-color: grey;
}