@font-face {
    font-family: pixel-font;
    src: url(PixelifySans-VariableFont_wght.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: pixel-font, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 5px solid white; */
    padding: 1rem;
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-self: center;
    border: 5px solid white;
    padding: 1rem;
}

.box {
    height: 30px;
    border: 2px solid white;
}

#playerOneBoardDiv > .occupied {
    background-color: green;
}

.hit {
    background-color: red;
}

.missed {
    background-color: grey;
}

button {
    font-family: pixel-font;
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0.3rem;
    background-color: whitesmoke;
}

.box:hover {
    background-color: lightblue;
}